
<div class="new">
  <nav>
    <div class="heading">
      <h4 style="cursor: pointer;" (click)="home()">BLOGNEST</h4>
    </div>

    <ul class="nav-links">
            <li><a (click)="create()">Create</a></li>

      <li><a (click)="users()">Users</a></li>
      <li><a (click)="blogsByCategory()">Category</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </nav>


</div>


<body>
  <section class="container">
    <header>Registration Form</header>
    <form action="#" class="form">
      <div class="container" style="text-align: center">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <div *ngIf="imageUrl">
          <h3>Selected Image:</h3>
          <img
            style="height: 200px; width: 200px; text-align: center"
            [src]="imageUrl"
            alt="Selected Image"
            class="preview"
          />
        </div>
      </div>

      <div class="input-box">
        <label>Title</label>
        <input
          [(ngModel)]="blog.title"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Enter title"
          required
        />
      </div>
      <div class="input-box">
        <label>Description</label>
        <input
          [(ngModel)]="blog.description"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Enter Description"
          required
        />
      </div>

      <div class="input-box">
        <label>Category</label>
        <input
          [(ngModel)]="blog.category"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Enter Category"
          required
        />
      </div>

      <div class="input-box address">
        <label>Author</label>
        <input
          type="text"
          [(ngModel)]="blog.author"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter Author Name"
          required
        />
      </div>

      <button (click)="createBlog()">Create Blog</button>
    </form>
  </section>
</body>
