* {

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

.body-text {

  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: center;

  justify-content: center;

  margin-top: 250px;

}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: teal;

  font-family: "Montserrat", sans-serif;

}

.heading {

  color: white;

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;
  cursor: pointer;

}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}

.nav-links li a.active {

  background-color: #4caf50;

}



* {

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

.body-text {

  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: center;

  justify-content: center;

  margin-top: 250px;

}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: teal;

  font-family: "Montserrat", sans-serif;

}

.heading {

  color: white;

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;
  cursor: pointer;

}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}

.nav-links li a.active {

  background-color: #4caf50;

}



/* Importing Google font - Open Sans */

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 60px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5;
    color: #B22485;
}
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6;
    color: #205c20;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff;
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}

/* Center align the container */
div {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

/* Style for label */
label {
  font-weight: bold;
  margin-right: 10px; /* Add spacing between label and select */
}

/* Style for select dropdown */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Adjust width as needed */
}

