<body>
  <nav>
    <div class="heading">
      <h4 style="cursor: pointer;" (click)="home()">BLOGNEST</h4>
    </div>

    <ul class="nav-links">
            <li><a (click)="create()">Create</a></li>

      <li><a (click)="users()">Users</a></li>
      <li><a (click)="blogsByCategory()">Category</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </nav>


</body>


<div>
  <label for="category">Filter by Category: </label>
  <select id="category" [(ngModel)]="selectedCategory">
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

<div *ngFor="let blog of getFilteredBlogs()">
  <h2>{{ blog.title }}</h2>
  <p><strong>Category:</strong> {{ blog.category }}</p>
  <p>{{ blog.description }}</p>
  <p>{{ blog.author }}</p>
  <hr />
</div>
