<body>
  <nav>
    <div class="heading">
      <h4 style="cursor: pointer" (click)="home()">BLOGNEST</h4>
    </div>

    <ul class="nav-links">
      <li><a (click)="create()">Create</a></li>

      <li><a (click)="users()">Users</a></li>
      <li><a (click)="blogsByCategory()">Category</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </nav>
</body>

<div>
  <label for="category">Filter by Category:</label>
  <select id="category" [(ngModel)]="selectedCategory">
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

<div class="card-list">
  <a *ngFor="let blog of getFilteredBlogs()" class="card-item">
    <span>
      <img [src]="blog.imageUrl" alt="" />
      <span class="developer">{{ blog.title }}</span>
      <p style="margin-top: 10px">{{ blog.description }}</p>
      <h5 style="margin-top: 5px">{{ blog.author }}</h5>

      <h6
        style="
          margin-top: 10px;
          border: 2px solid;
          width: 100%;
          text-align: center;
          padding: 5px;
          font-size: 12px;
          background-color: cyan;
        "
      >
        {{ blog.category }}
      </h6>
    </span>
  </a>
</div>
