<body>
  <section class="container">
    <header>Login Form</header>
    <form action="#" class="form">
      <div class="input-box">
        <label>Email Address</label>
        <input
          [(ngModel)]="user.email"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          placeholder="Enter email address"
          required
        />
      </div>

      <div class="input-box">
        <label>Password</label>
        <input
          [(ngModel)]="user.password"
          [ngModelOptions]="{ standalone: true }"
          type="password"
          placeholder="Enter Password"
          required
        />
      </div>

      <button (click)="submit()">Submit</button>
      <button (click)="register()">Register</button>
    </form>
  </section>
</body>
