<body>
  <nav>
    <div class="heading">
      <h4 style="cursor: pointer" (click)="home()">BLOGNEST</h4>
    </div>

    <ul class="nav-links">
      <li><a (click)="create()">Create</a></li>

      <li><a (click)="users()">Users</a></li>
      <li><a (click)="blogsByCategory()">Category</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </nav>
</body>

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }
</style>
<div>
  <div style="margin-top: 50px" class="card">
    <img [src]="loggedInUser.imageUrl" alt="John" />
    <h1>{{ loggedInUser.name }}</h1>
    <p style="margin-top: 10px" class="title">{{ loggedInUser.email }}</p>
    <p style="margin-top: 10px">{{ loggedInUser.address }}</p>

    <p style="margin-top: 10px">{{ loggedInUser.city }}</p>

    <p style="margin-top: 10px">
      <button>{{ loggedInUser.phone }}</button>
    </p>
  </div>
</div>

<div class="card-list">
  <a *ngFor="let blog of allBlogs" class="card-item">
    <span *ngIf="blog.userId == loggedInUser.id">
      <img [src]="blog.imageUrl" alt="" />
      <span class="developer">{{ blog.title }}</span>
      <p style="margin-top: 10px">{{ blog.description }}</p>
      <h5 style="margin-top: 5px">{{ blog.author }}</h5>

      <h6
        style="
          margin-top: 10px;
          border: 2px solid;
          width: 100%;
          text-align: center;
          padding: 5px;
          font-size: 12px;
          background-color: cyan;
        "
      >
        {{ blog.category }}
      </h6>

      <div
        style="display: flex; justify-content: space-between; margin-top: 30px"
      >
        <button
          style="
            width: 80px;
            background-color: chartreuse;
            border-radius: 10px;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          "
          (click)="edit(blog.id)"
          *ngIf="blog.userId == loggedInUser.id"
        >
          Edit
        </button>
        <button
          style="
            width: 80px;
            background-color: red;
            color: white;
            border-radius: 10px;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          "
          (click)="delete(blog.id)"
          *ngIf="blog.userId == loggedInUser.id"
        >
          Delete
        </button>
      </div>
    </span>
  </a>
</div>

<!--



<div class="frame">
  <div class="center">
    <div class="profile">
      <div class="image">
        <img
          [src]="loggedInUser.imageUrl"
          width="70"
          height="70"
          alt="Jessica Potter"
        />
      </div>

      <div class="name">{{ loggedInUser.name }}</div>
      <div class="job">{{ loggedInUser.email }}</div>
      <div class="job">{{ loggedInUser.address }}</div>
      <div class="actions">
        <button class="btn">
          <div class="job">{{ loggedInUser.city }}</div>
        </button>
        <button class="btn">
          <div class="job">{{ loggedInUser.phone }}</div>
        </button>
      </div>
    </div>

    <div class="stats">
      <div class="box">
        <span class="value">523</span>
        <span class="parameter">Posts</span>
      </div>
      <div class="box">
        <span class="value">1387</span>
        <span class="parameter">Likes</span>
      </div>
      <div class="box"></div>
    </div>
  </div>
</div>

<div style="height: 1800px" class="carousel" mask>
  <article
    *ngFor="let blog of allBlogs"
    style="margin-top: 700px; border: none"
  >
    <span *ngIf="blog.userId == loggedInUser.id">
      <img [src]="blog.imageUrl" alt="" />
      <h2>{{ blog.title }}</h2>
      <p>{{ blog.description }}</p>
      <div style="margin-top: 50px">
        <a href="#">{{ blog.category }}</a>
        <a style="margin-left: 20px" href="#">{{ blog.author }}</a>
      </div>

      <div style="margin-top: 50px">
        <button (click)="edit(blog.id)" *ngIf="blog.userId == loggedInUser.id">
          Edit
        </button>

        <button
          style="margin-left: 20px"
          (click)="delete(blog.id)"
          *ngIf="blog.userId == loggedInUser.id"
        >
          Delete
        </button>
      </div>
    </span>
  </article>
</div>

<div>
  <div>
    <h2>{{ newSavedBlogs.title }}</h2>
    <h2>{{newSavedBlogs.description}}
    </h2>
     <h2>{{newSavedBlogs.category}}
    </h2>
  </div>
</div>
-->
