<body>
  <nav>
    <div class="heading">
      <h4 style="cursor: pointer" (click)="home()">BLOGNEST</h4>
    </div>

    <ul class="nav-links">
      <li><a (click)="create()">Create</a></li>

      <li><a (click)="users()">Users</a></li>
      <li><a (click)="blogsByCategory()">Category</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>
  </nav>
</body>

<div style="text-align: center">
  <div
    style="
      margin-top: 50px;
      border: 10px solid black;
      text-align: center;
      padding: 20px;
      width: 400px;
      border-radius: 10px;
      margin-left: 550px;
      border-style: double;
      border-color: cadetblue;
    "
    class="card"
  >
    <img
      style="width: 100px; height: 100px"
      [src]="loggedInUser.imageUrl"
      alt="John"
    />
    <h1>{{ loggedInUser.name }}</h1>
    <p style="margin-top: 10px" class="title">{{ loggedInUser.email }}</p>
    <p style="margin-top: 10px">{{ loggedInUser.address }}</p>

    <p style="margin-top: 10px">{{ loggedInUser.city }}</p>

    <h5 style="margin-top: 10px">
      {{ loggedInUser.phone }}
    </h5>
  </div>
</div>

<div
  style="
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  "
>
  <button (click)="showTabs()">
    <span class="button_top"> My Blogs </span>
  </button>
  <button (click)="showSavedTabs()">
    <span class="button_top"> My Saved Blogs</span>
  </button>
</div>

<div *ngIf="showTab" class="card-list">
  <a *ngFor="let blog of userBlogs" class="card-item">
    <span>
      <img [src]="blog.imageUrl" alt="" />
      <span class="developer">{{ blog.title }}</span>
      <p style="margin-top: 10px">{{ blog.description }}</p>
      <h5 style="margin-top: 5px">{{ blog.author }}</h5>

      <h6
        style="
          margin-top: 10px;
          border: 2px solid;
          width: 100%;
          text-align: center;
          padding: 5px;
          font-size: 12px;
          background-color: cyan;
        "
      >
        {{ blog.category }}
      </h6>

      <div
        style="display: flex; justify-content: space-between; margin-top: 30px"
      >
        <button
          style="
            width: 80px;
            background-color: chartreuse;
            border-radius: 10px;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          "
          (click)="edit(blog.id)"
          *ngIf="blog.userId == loggedInUser.id"
        >
          Edit
        </button>
        <button
          style="
            width: 80px;
            background-color: red;
            color: white;
            border-radius: 10px;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          "
          (click)="delete(blog.id)"
          *ngIf="blog.userId == loggedInUser.id"
        >
          Delete
        </button>
      </div>
    </span>
  </a>
</div>

<div *ngIf="showSavedTab">
  <div *ngFor="let newSaveBlog of savedBlogs">
    <div *ngIf="newSaveBlog.userId === loggedInUser.id">
      <div *ngIf="newSaveBlog">
        <p><strong>Title:</strong> {{ newSaveBlog.blog.title }}</p>
        <p><strong>Description:</strong> {{ newSaveBlog.blog.description }}</p>
        <p><strong>Category:</strong> {{ newSaveBlog.blog.category }}</p>
        <p><strong>Author:</strong> {{ newSaveBlog.blog.author }}</p>
        <p><strong>User ID:</strong> {{ newSaveBlog.blog.userId }}</p>
        <p><strong>Created At:</strong> {{ newSaveBlog.blog.createdAt }}</p>

        <div *ngIf="newSaveBlog.blog.imageUrl">
          <strong>Image:</strong><br />
          <img [src]="newSaveBlog.blog.imageUrl" width="200" />
        </div>
      </div>
    </div>
  </div>
</div>
